doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style.
      body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: black;
      }
      * {
      box-sizing: border-box;
      }
      /* Add padding to containers */
      .container {
      padding: 16px;
      background-color: white;
      }
      /* Full-width input fields */
      input[type=text], input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
      }
      input[type=text]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
      }
      /* Overwrite default styles of hr */
      hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
      }
      .registerbtn {
      background-color: 	#9370DB;
      color: white;
      padding: 16px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
      }
      .registerbtn:hover {
      opacity: 1;
      }
      a {
      color: dodgerblue;
      }
      .signin {
      background-color: #f1f1f1;
      text-align: center;
      }
  body
    form(method='POST' action='')
      .container
        hr
        |  
        label(for='id')
          b Student  I.D Number
        |     
        input#id(type='text', name='id', required='')
        |     
        label(for='name')
          b Name
        |     
        input#name(type='text', name='name', required='')
        |  
        |         
        label(for='section')
          b Section
        |     
        input#section(type='text', name='section', required='')
        |    
        |    
        label(for='dept_id')
          b Department I.D
        |     
        input#dept_id(type='text', name='dept_id', required='')
        |    
        label(for='semester')
          b Semester
        |     
        input#semester(type='text', name='semester', required='')
        |     
        hr
        |     
        button.registerbtn(type='submit') Submit
